<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>EventosTI.dev - O seu portal de eventos de tecnologia</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="eventosti.dev seus eventos de TI em um só lugar">
    <meta name="author" content="Pokemaobr">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap"
          rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css"
          integrity="sha512-zxBiDORGDEAYDdKLuYU9X/JaJo/DPzE42UubfBw9yg8Qvb2YRRIQ8v4KsGHOx2H1/+sdSXyXxLXv5r7tHc9ygg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"
            integrity="sha512-Gs+PsXsGkmr+15rqObPJbenQ2wB3qYvTHuJO6YJzPe/dTLvhy0fmae2BcnaozxDo5iaF8emzmCZWbQ1XXiX2Ig=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CFY66MNQ41"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-CFY66MNQ41');
    </script>

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">

</head>

<body>
<header id="header" class="header fixed-top bg-dark">
    <div class="branding">
        <div class="container-fluid">
            <nav class="main-nav navbar navbar-expand-lg">
                <div class="site-logo"><a href="{{ path('index') }}"><img class="logo-icon"
                                                                          src="assets/images/eventosti2.png"
                                                                          alt="logo"></a></div>

                <div class="navbar-btn order-lg-2"><a class="btn btn-secondary"
                                                      href="{{ path('index') }}"
                    >Voltar!</a></div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navigation" class="navbar-collapse collapse  justify-content-lg-end me-lg-3">
                </div><!--//navabr-collapse-->

            </nav><!--//main-nav-->

        </div><!--//container-->
    </div><!--//branding-->
</header><!--//header-->

<div id="hero-area" class="hero-area section">
    <div class="container">
        {% if eventos is not empty %}
        <p><strong>EVENTOS CADASTRADOS!</strong></p>
            <table id="dtScrapokes" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th class="th-sm">Nome
                    </th>
                    <th class="th-sm">Tipo
                    </th>
                    <th class="th-sm">Local
                    </th>
                    <th class="th-sm">Imagem
                    </th>
                    <th class="th-sm">Descrição
                    </th>
                    <th class="th-sm">Data Início
                    </th>
                    <th class="th-sm">Data Fim
                    </th>
                    <th class="th-sm">Link
                    </th>
                    <th class="th-sm">Link Ingresso
                    </th>
                    <th class="th-sm">Twitter
                    </th>
                    <th class="th-sm">Instagram
                    </th>
                    <th class="th-sm">Outro
                    </th>
                    <th class="th-sm">Gratuito
                    </th>
                    <th class="th-sm">Pago
                    </th>
                    <th class="th-sm">Habilitado
                    </th>


                </tr>
                </thead>
                <tbody>
                {% for evento in eventos %}
                    <tr>
                        <td>{{ evento.nome }}</td>
                        <td>{{ evento.tipo }}</td>
                        <td>{{ evento.local }}</td>
                        <td><a href="assets/images/events/{{ evento.imagem }}" target="_blank"><img src="assets/images/events/{{ evento.imagem }}" class="card-img-top rounded-0"
                                    alt=""></a></td>
                        <td>{{ evento.descricao }}</td>
                        <td>{{ evento.dataInicio|date("d/m/Y H:i:s") }}</td>
                        <td>{{ evento.dataFim|date("d/m/Y H:i:s") }}</td>
                        <td>{{ evento.link }}</td>
                        <td>{{ evento.ingresso }}</td>
                        <td>{{ evento.twitter }}</td>
                        <td>{{ evento.instagram }}</td>
                        <td>{{ evento.outro }}</td>
                        {% if evento.gratuito == 0 %}
                            <td>
                                <button id="gratuitoId{{ evento.id }}" onclick="transformarEmEventoGratuito('{{ evento.id }}','{{ path('transformar-em-evento-gratuito',{'id':evento.id}) }}')"
                                        class="btn btn-block btn-primary btn-primary d-flex flex-column text-white h-100">
                                    <i class="fab fa-vuejs"></i></button>
                            </td>
                        {% else %}
                            <td>
                                <button id="gratuitoId{{ evento.id }}" onclick="transformarEmEventoNaoGratuito('{{ evento.id }}','{{ path('transformar-em-evento-nao-gratuito',{'id':evento.id}) }}')"
                                        class="btn btn-block btn-primary btn-primary d-flex flex-column text-white h-100">
                                    <i class="fas fa-eye-slash"></i></button>
                            </td>
                        {% endif %}
                        {% if evento.pago == 0 %}
                            <td>
                                <button id="pagoId{{ evento.id }}" onclick="transformarEmEventoPago('{{ evento.id }}','{{ path('transformar-em-evento-pago',{'id':evento.id}) }}')"
                                        class="btn btn-block btn-primary btn-primary d-flex flex-column text-white h-100">
                                    <i class="fab fa-vuejs"></i></button>
                            </td>
                        {% else %}
                            <td>
                                <button id="pagoId{{ evento.id }}" onclick="transformarEmEventoNaoPago('{{ evento.id }}','{{ path('transformar-em-evento-nao-pago',{'id':evento.id}) }}')"
                                        class="btn btn-block btn-primary btn-primary d-flex flex-column text-white h-100">
                                    <i class="fas fa-eye-slash"></i></button>
                            </td>
                        {% endif %}
                        {% if evento.habilitado == 0 %}
                            <td>
                                <button id="botaoId{{ evento.id }}" onclick="habilitarEvento('{{ evento.id }}','{{ path('habilitar-evento',{'id':evento.id}) }}')"
                                         class="btn btn-block btn-primary btn-primary d-flex flex-column text-white h-100">
                                    <i class="fab fa-vuejs"></i></button>
                            </td>
                        {% else %}
                            <td>
                                <button id="botaoId{{ evento.id }}" onclick="desabilitarEvento('{{ evento.id }}','{{ path('desabilitar-evento',{'id':evento.id}) }}')"
                                        class="btn btn-block btn-primary btn-primary d-flex flex-column text-white h-100">
                                    <i class="fas fa-eye-slash"></i></button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Nome
                    </th>
                    <th>Tipo
                    </th>
                    <th>Local
                    </th>
                    <th>Imagem
                    </th>
                    <th>Descrição
                    </th>
                    <th>Data Início
                    </th>
                    <th>Data Fim
                    </th>
                    <th>Link
                    </th>
                    <th>Link Ingresso
                    </th>
                    <th>Twitter
                    </th>
                    <th>Instagram
                    </th>
                    <th>Outro
                    </th>
                    <th>Pago
                    </th>
                    <th>Gratuito
                    </th>
                    <th>Habilitado
                    </th>

                </tr>
                </tfoot>
            </table>
        {% endif %}
        {% if call4papers is not empty %}
            <p><strong>CALL 4 PAPERS CADASTRADOS!</strong></p>
            <table id="dtScrapokes" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th class="th-sm">Nome
                    </th>
                    <th class="th-sm">Tipo
                    </th>
                    <th class="th-sm">Local
                    </th>
                    <th class="th-sm">Imagem
                    </th>
                    <th class="th-sm">Descrição
                    </th>
                    <th class="th-sm">Data Encerramento
                    </th>
                    <th class="th-sm">Data Início
                    </th>
                    <th class="th-sm">Data Fim
                    </th>
                    <th class="th-sm">Link Call4Papers
                    </th>
                    <th class="th-sm">Link Evento
                    </th>
                    <th class="th-sm">Twitter
                    </th>
                    <th class="th-sm">Instagram
                    </th>
                    <th class="th-sm">Outro
                    </th>
                    <th class="th-sm">Habilitado
                    </th>


                </tr>
                </thead>
                <tbody>
                {% for evento in call4papers %}
                    <tr>
                        <td>{{ evento.nome }}</td>
                        <td>{{ evento.tipo }}</td>
                        <td>{{ evento.local }}</td>
                        <td><a href="assets/images/events/{{ evento.imagem }}" target="_blank"><img src="assets/images/events/{{ evento.imagem }}" class="card-img-top rounded-0"
                                                                                                    alt=""></a></td>
                        <td>{{ evento.descricao }}</td>
                        <td>{{ evento.dataEncerramento|date("d/m/Y H:i:s") }}</td>
                        <td>{{ evento.dataInicio|date("d/m/Y H:i:s") }}</td>
                        <td>{{ evento.dataFim|date("d/m/Y H:i:s") }}</td>
                        <td>{{ evento.link }}</td>
                        <td>{{ evento.evento }}</td>
                        <td>{{ evento.twitter }}</td>
                        <td>{{ evento.instagram }}</td>
                        <td>{{ evento.outro }}</td>
                        {% if evento.habilitado == 0 %}
                            <td>
                                <button id="call4papersId{{ evento.id }}" onclick="habilitarCall4Papers('{{ evento.id }}','{{ path('habilitar-call4papers',{'id':evento.id}) }}')"
                                        class="btn btn-block btn-primary btn-primary d-flex flex-column text-white h-100">
                                    <i class="fab fa-vuejs"></i></button>
                            </td>
                        {% else %}
                            <td>
                                <button id="call4papersId{{ evento.id }}" onclick="desabilitarCall4Papers('{{ evento.id }}','{{ path('desabilitar-call4papers',{'id':evento.id}) }}')"
                                        class="btn btn-block btn-primary btn-primary d-flex flex-column text-white h-100">
                                    <i class="fas fa-eye-slash"></i></button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Nome
                    </th>
                    <th>Tipo
                    </th>
                    <th>Local
                    </th>
                    <th>Imagem
                    </th>
                    <th>Descrição
                    </th>
                    <th>Data Encerramento
                    </th>
                    <th>Data Início
                    </th>
                    <th>Data Fim
                    </th>
                    <th>Link Call4Papers
                    </th>
                    <th>Link Evento
                    </th>
                    <th>Twitter
                    </th>
                    <th>Instagram
                    </th>
                    <th>Outro
                    </th>
                    <th>Habilitado
                    </th>

                </tr>
                </tfoot>
            </table>
        {% endif %}
    </div>

</div><!--//hero-block-->

<div id="uploadimageModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload & Cortar Imagem</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 text-center">
                        <div id="image_demo" style="width:350px; margin-top:30px"></div>
                    </div>
                    <div class="col-md-4" style="padding-top:30px;">
                        <br/>
                        <br/>
                        <br/>
                        <button class="btn btn-success crop_image">Upload & Cortar Imagem</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<footer class="footer py-5 theme-bg-primary">
    <div class="container text-center">

        <ul class="social-list list-inline mb-4">
            <li class="list-inline-item me-3"><a href="#"><i class="fas fa-envelope"></i></a></li>
            <li class="list-inline-item me-3"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
            <li class="list-inline-item me-3"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
            <li class="list-inline-item me-0"><a href="#"><i class="fab fa-youtube fa-fw"></i></a></li>
        </ul><!--//social-list-->


        <ul class="footer-links list-inline mx-auto mb-4">
            <li class="list-inline-item"><a href="#">Code of Conduct</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item me-0"><a href="#">Privacy</a></li>
        </ul><!--//footer-link-->

        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a
                    href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

    </div><!--//container-->
</footer>


<!-- Javascript -->
<script src="assets/plugins/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/smoothscroll.min.js"></script>
<script src="assets/js/main.js"></script>

<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.25/dataRender/datetime.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

<script>

    function habilitarEvento(id, link) {
        fetch(link).then(res => res.json()).then(
            json => {
                if (json.data === 1) {
                    const botaoId = document.getElementById('botaoId'+id);
                    console.log(botaoId);
                    botaoId.removeChild(botaoId.querySelector('svg'));
                    botaoId.innerHTML = '<i class="fas fa-eye-slash"></i>';
                    const linkNovo = '{{ app.request.schemeAndHttpHost }}/desabilitar-evento/' + id;
                    botaoId.onclick = () => desabilitarEvento(id, linkNovo);
                }
            });


    }

    function desabilitarEvento(id, link) {
        fetch(link).then(res => res.json()).then(
            json => {
                if (json.data === 1) {
                    const botaoId = document.getElementById('botaoId'+id);
                    console.log(botaoId);
                    botaoId.removeChild(botaoId.querySelector('svg'));
                    botaoId.innerHTML = '<i class="fab fa-vuejs"></i>';
                    const linkNovo = '{{ app.request.schemeAndHttpHost }}/habilitar-evento/' + id;
                    botaoId.onclick = () => habilitarEvento(id, linkNovo);
                }
            });
    }

    function habilitarCall4Papers(id, link) {
        fetch(link).then(res => res.json()).then(
            json => {
                if (json.data === 1) {
                    const botaoId = document.getElementById('call4papersId'+id);
                    console.log(botaoId);
                    botaoId.removeChild(botaoId.querySelector('svg'));
                    botaoId.innerHTML = '<i class="fas fa-eye-slash"></i>';
                    const linkNovo = '{{ app.request.schemeAndHttpHost }}/desabilitar-call4papers/' + id;
                    botaoId.onclick = () => desabilitarCall4Papers(id, linkNovo);
                }
            });


    }

    function desabilitarCall4Papers(id, link) {
        fetch(link).then(res => res.json()).then(
            json => {
                if (json.data === 1) {
                    const botaoId = document.getElementById('call4papersId'+id);
                    console.log(botaoId);
                    botaoId.removeChild(botaoId.querySelector('svg'));
                    botaoId.innerHTML = '<i class="fab fa-vuejs"></i>';
                    const linkNovo = '{{ app.request.schemeAndHttpHost }}/habilitar-call4papers/' + id;
                    botaoId.onclick = () => habilitarCall4Papers(id, linkNovo);
                }
            });
    }

    function transformarEmEventoPago(id, link) {
        fetch(link).then(res => res.json()).then(
            json => {
                if (json.data === 1) {
                    const botaoId = document.getElementById('pagoId'+id);
                    console.log(botaoId);
                    botaoId.removeChild(botaoId.querySelector('svg'));
                    botaoId.innerHTML = '<i class="fas fa-eye-slash"></i>';
                    const linkNovo = '{{ app.request.schemeAndHttpHost }}/transformar-em-evento-pago/' + id;
                    botaoId.onclick = () => transformarEmEventoNaoPago(id, linkNovo);
                }
            });


    }

    function transformarEmEventoNaoPago(id, link) {
        fetch(link).then(res => res.json()).then(
            json => {
                if (json.data === 1) {
                    const botaoId = document.getElementById('pagoId'+id);
                    botaoId.removeChild(botaoId.querySelector('svg'));
                    botaoId.innerHTML = '<i class="fab fa-vuejs"></i>';
                    const linkNovo = '{{ app.request.schemeAndHttpHost }}/transformar-em-evento-nao-pago/' + id;
                    botaoId.onclick = () => transformarEmEventoPago(id, linkNovo);
                }
            });
    }

    function transformarEmEventoGratuito(id, link) {
        fetch(link).then(res => res.json()).then(
            json => {
                if (json.data === 1) {
                    const botaoId = document.getElementById('gratuitoId'+id);
                    botaoId.removeChild(botaoId.querySelector('svg'));
                    botaoId.innerHTML = '<i class="fas fa-eye-slash"></i>';
                    const linkNovo = '{{ app.request.schemeAndHttpHost }}/transformar-em-evento-gratuito/' + id;
                    botaoId.onclick = () => transformarEmEventoNaoGratuito(id, linkNovo);
                }
            });


    }

    function transformarEmEventoNaoGratuito(id, link) {
        fetch(link).then(res => res.json()).then(
            json => {
                if (json.data === 1) {
                    const botaoId = document.getElementById('gratuitoId'+id);
                    botaoId.removeChild(botaoId.querySelector('svg'));
                    botaoId.innerHTML = '<i class="fab fa-vuejs"></i>';
                    const linkNovo = '{{ app.request.schemeAndHttpHost }}/transformar-em-evento-nao-gratuito/' + id;
                    botaoId.onclick = () => transformarEmEventoGratuito(id, linkNovo);
                }
            });
    }

    function modificarLink(link) {
        console.log(link)
        document.getElementById('deletar').href = link;
    }

</script>


</body>
</html>

