<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>EventosTI.dev - O seu portal de eventos de tecnologia</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="eventosti.dev seus eventos de TI em um só lugar">
    <meta name="author" content="Pokemaobr">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap"
          rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CFY66MNQ41"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-CFY66MNQ41');
    </script>

</head>

<body>
<header id="header" class="header fixed-top">
    {% include 'header.html.twig' %}
</header><!--//header-->

<div id="hero-block" class="hero-block">
    <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item-1 carousel-item active">
            </div>
        </div>
    </div>
    <div class="hero-block-mask"></div>
    <div class="container">
        <div class="hero-text-block">
            <h1 class="hero-heading mb-2">eventosti.dev</h1>
            <div class="hero-intro mb-4">Descubra eventos de TI <br> Online ou Perto de Você.</div>
            <div class="hero-cta"><a class="btn btn-primary btn-lg"
                                     href="#proximos-eventos-section"
                >Encontrar Eventos</a></div>

        </div><!--//hero-text-block-->
    </div><!--//container-->

</div><!--//hero-block-->

<div class="stats-block theme-bg-primary text-white py-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">2000+</div>
                    <div class="unit">Participantes</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">7</div>
                    <div class="unit">Dias</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">60+</div>
                    <div class="unit">Palestras</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">10+</div>
                    <div class="unit">Workshops</div>
                </div><!--//item-->
            </div><!--//col-->
        </div>
    </div><!--//container-->
</div><!--//stats-block-->

<section id="sobre-section" class="sobre-section section theme-bg-light">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Sobre eventosti.dev</h3>
        <div class="section-intro single-col-max mx-auto mb-4">O site eventosti.dev serve como um agregador de eventos
            de tecnologia pelo Brasil. Aqui
            você vai encontrar eventos online ou presenciais de todos os tipos de tecnologia. <strong>Caso você queira
                adicionar algum evento, <a href="{{ path('cadastrar') }}">clique aqui.</a></strong>
            Abaixo você pode verificar os próximos eventos que irão ocorrer e as suas respectivas tecnologias.
        </div>
        <div class="benefits-list text-center mb-3">
            <h4 class="text-center mb-4">Por que cadastrar seu evento?</h4>
            <ul class="list-unstyled text-start d-inline-block">
                <li><i class="fas fa-check-circle me-2"></i>Maior exposição para pessoas de tecnologia</li>
                <li><i class="fas fa-check-circle me-2"></i>Divulgação sem custo</li>
                <li><i class="fas fa-check-circle me-2"></i>Praticidade no cadastro de novos eventos</li>
                <li><i class="fas fa-check-circle me-2"></i>Aumentar o networking do seu evento</li>
                <li><i class="fas fa-check-circle me-2"></i>Ajude a comunidade a conhecer novos eventos</li>
            </ul>
        </div><!--//benefits-list-->
        {% if eventos is not empty %}
            {% if (date(eventos[0].dataFim) >= date()) and (eventos|length >= 2 and (date(eventos[1].dataFim) >= date())) %}
                <div class="event-countdown text-center mb-3">
                    <h4 class="countdown-intro mb-2 text-center mb-3 text-danger"><a href="#proximos-eventos-section">Estão
                            acontecendo eventos agora!</a></h4>
                </div>
            {% elseif date(eventos[0].dataFim) >= date() %}
                <div class="event-countdown text-center mb-3">
                    <h4 class="countdown-intro mb-2 text-center mb-3 text-danger"><a href="#proximos-eventos-section">Está
                            acontecendo um evento agora!</a></h4>
                </div>
            {% elseif eventos is empty %}
                <div class="event-countdown text-center mb-3">
                    <h4 class="countdown-intro mb-2 text-center mb-3 text-danger"><a href="#proximos-eventos-section">Não
                            existem eventos próximos cadastrados no momento!</a></h4>
                </div>
            {% else %}
                <div class="event-countdown text-center mb-3">
                    <h4 class="countdown-intro mb-2 text-center mb-3">Próximo evento em:</h4>
                    <div id="countdown-box" class="countdown-box"></div>
                </div><!--//event-countdown-->
            {% endif %}
        {% endif %}
    </div><!--//container-->
</section>
<section id="eventos-anteriores-section" class="section theme-bg-light">
    <div class="media-block theme-bg-primary py-5">
        <div class="container">
            <h4 class="text-white text-center mb-3">Eventos anteriores</h4>
            <div class="section-intro text-center single-col-max mx-auto text-white mb-5">Assista vídeos de eventos que
                já ocorreram e conheça um pouco do universo de eventos de tecnologia!
            </div>
            <div class="row gx-5">
                <div class="col-12 col-md-6 mb-3">
                    <div class="ratio ratio-16x9">

                        <iframe src="https://www.youtube.com/embed/SJPZxvEYXxI"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div><!--//embed-responsive -->
                </div><!--//col-->
                <div class="col-12 col-md-6 mb-md-5">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/CFKGFYjJeY8"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div><!--//embed-responsive -->
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//media-block-->
</section><!--//about-section-->

<section id="proximos-eventos-section" class="speakers-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Próximos Eventos</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">Lista com os próximos eventos cadastrados na
            plataforma.
        </div>
        <div class="row">
            {% for evento in eventos %}
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card rounded-0">
                        <a href="{{ evento.link }}" target="_blank"><img
                                    src="assets/images/events/{% if evento.imagem is not empty %} {{ evento.imagem }} {% else %}semimagem.png{% endif %}" class="card-img-top rounded-0"
                                    alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2"><a href="{{ evento.link }}"
                                                           target="_blank">{{ evento.nome }}</a></h5>
                            <div class="card-text mb-3">
                                <span class="badge bg-secondary">{{ tipo[evento.tipo] }}</span>
                                {% if evento.gratuito is not empty %}
                                    <span class="badge bg-success">Gratuíto</span>
                                {% endif %}
                                {% if evento.pago is not empty %}
                                    <span class="badge bg-primary">Pago</span>
                                {% endif %}
                                <div class="meta">De: {{ evento.dataInicio|date("d/m/Y") }}
                                    às {{ evento.dataInicio|date("H:i:s") }} </div>
                                <div class="meta">Até: {{ evento.dataFim|date("d/m/Y") }}
                                    às {{ evento.dataFim|date("H:i:s") }} </div>
                                <div class="meta">{{ evento.local }}</div>
                            </div><!--//card-text-->
                            <a href="#modal-eventos-{{ loop.index }}" data-bs-toggle="modal"
                               data-bs-target="#modal-eventos-{{ loop.index }}">Saiba Mais
                                &rarr;</a>
                        </div><!--//card-->
                        <div class="card-footer text-muted">
                            <ul class="social-list list-inline mb-0">
                                {% if evento.ingresso is not empty %}
                                    <li class="list-inline-item"><a href="{{ evento.ingresso }}" target="_blank"><i
                                                    class="fas fa-ticket-alt fa-fw"></i></a></li>
                                {% endif %}
                                {% if evento.twitter is not empty %}
                                    <li class="list-inline-item"><a href="{{ evento.twitter }}" target="_blank"><i
                                                    class="fab fa-twitter fa-fw"></i></a></li>
                                {% endif %}
                                {% if evento.instagram is not empty %}
                                    <li class="list-inline-item"><a href="{{ evento.instagram }}" target="_blank"><i
                                                    class="fab fa-instagram fa-fw"></i></a></li>
                                {% endif %}
                                {% if evento.outro is not empty %}
                                    <li class="list-inline-item"><a href="{{ evento.outro }}" target="_blank"><i
                                                    class="fab fa-internet-explorer fa-fw"></i></a></li>
                                {% endif %}
                            </ul><!--//social-list-->
                        </div>
                    </div><!--//card-->
                </div><!--//col-->
            {% endfor %}

        </div><!--//container-->

    </div>

</section><!--//speakers-section-->

<div class="container">
    <hr>
</div>

<section id="parceiros-section" class="parceiros-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Patrocinadores e Parceiros</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">Quer ajudar o eventosti.dev a crescer?
            Torne-se patrocinador ou parceiro do site. Basta enviar um e-mail para contato@pokemaobr.dev com o título
            "Parceria eventosti.dev"
        </div>
        <div class="row logos justify-content-center">
            <a href="https://pokemaobr.dev">
                <div class="logo-item col-6 col-md-4 col-lg-2"><img src="https://pokemaobr.dev/img/pokemaobr.png"
                                                                    alt="">
            </a></div>
    </div><!--//row-->
    </div><!--//container-->
</section><!--//sponsors-section-->

<footer class="footer py-5 theme-bg-primary">
    <div class="container text-center">

        <ul class="social-list list-inline mb-4">
            <li class="list-inline-item me-3"><a href="https://twitter.com/eventostidev"><i
                            class="fab fa-twitter fa-fw"></i></a></li>
            <li class="list-inline-item me-3"><a href="https://t.me/eventosti"><i class="fab fa-telegram fa-fw"></i></a>
            </li>
            <li class="list-inline-item me-3"><a href="https://twitch.tv/pokemaobr"><i class="fab fa-twitch"></i></a>
            </li>
            <li class="list-inline-item me-0"><a href="https://github.com/pokemaobr/eventosti.dev"><i
                            class="fab fa-github fa-fw"></i></a></li>

        </ul><!--//social-list-->


        <!-- <ul class="footer-links list-inline mx-auto mb-4">
             <li class="list-inline-item"><a href="#">Code of Conduct</a></li>
             <li class="list-inline-item">|</li>
             <li class="list-inline-item"><a href="#">Terms</a></li>
             <li class="list-inline-item">|</li>
             <li class="list-inline-item me-0"><a href="#">Privacy</a></li>
         </ul>//footer-link-->

        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a
                    href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers | Back-end
            desenvolvido por: <a href="https://pokemaobr.dev">pokemaobr</a> & chat durante lives na twitch :)</small>

    </div><!--//container-->
</footer>

<!-- Modal Eventos -->
{% for evento in eventos %}
    <div class="modal modal-speaker modal-speaker-1" id="modal-eventos-{{ loop.index }}" tabindex="-1" role="dialog"
         aria-labelledby="speaker-{{ loop.index }}-ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="speaker-{{ loop.index }}-ModalLabel" class="modal-title sr-only"
                    >Nome do Evento</h4>
                </div>
                <div class="modal-body p-0">
                    <div class="theme-bg-light p-5">
                        <div class="row">
                            <div class="col-12 col-md-auto text-center">
                                <a href="{{ evento.link }}" target="_blank"><img
                                            class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto"
                                            src="assets/images/events/{{ evento.imagem }}" alt=""/></a>
                            </div>

                            <div class="col text-center text-md-start mx-auto">
                                <h2 class="name mb-2"><a href="{{ evento.link }}" target="_blank">{{ evento.nome }}</a>
                                </h2>
                                <span class="badge bg-secondary">{{ tipo[evento.tipo] }}</span>
                                {% if evento.gratuito is not empty %}
                                    <span class="badge bg-success">Gratuíto</span>
                                {% endif %}
                                {% if evento.pago is not empty %}
                                    <span class="badge bg-primary">Pago</span>
                                {% endif %}
                                <div class="meta">Início: {{ evento.dataInicio|date("d/m/Y") }}
                                    às {{ evento.dataInicio|date("H:i:s") }}</div>
                                <div class="meta">Fim: {{ evento.dataFim|date("d/m/Y") }}
                                    às {{ evento.dataFim|date("H:i:s") }} </div>
                                <div class="meta">{{ evento.local }}</div>
                                <ul class="social-list list-inline mb-0">
                                    {% if evento.ingresso is not empty %}
                                        <li class="list-inline-item"><a href="{{ evento.ingresso }}" target="_blank"><i
                                                        class="fas fa-ticket-alt fa-fw"></i></a></li>
                                    {% endif %}
                                    {% if evento.twitter is not empty %}
                                        <li class="list-inline-item"><a href="{{ evento.twitter }}" target="_blank"><i
                                                        class="fab fa-twitter fa-fw"></i></a></li>
                                    {% endif %}
                                    {% if evento.instagram is not empty %}
                                        <li class="list-inline-item"><a href="{{ evento.instagram }}" target="_blank"><i
                                                        class="fab fa-instagram fa-fw"></i></a></li>
                                    {% endif %}
                                    {% if evento.outro is not empty %}
                                        <li class="list-inline-item"><a href="{{ evento.outro }}" target="_blank"><i
                                                        class="fab fa-internet-explorer fa-fw"></i></a></li>
                                    {% endif %}
                                </ul><!--//social-list-->
                            </div><!--//col-->
                        </div><!--//row-->
                    </div>
                    <div class="desc p-4 p-lg-5">
                        <p>{{ evento.descricao }} </p>

                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
{% endfor %}

<!-- Javascript -->
<script src="assets/plugins/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/smoothscroll.min.js"></script>
<script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
{% if eventos is not empty %}
<script>
    var target_date = new Date("{{ eventos[0].dataInicio|date("M d, Y") }}").getTime();
</script>
{% endif %}
<script src="assets/js/main.js"></script>


</body>
</html>

